/*[ PADDING ]
///////////////////////////////////////////////////////////
*/
.p-b-70 {padding-bottom: 70px;}
.p-b-20 {padding-bottom: 20px;}


/*[ FONT SIZE ]
///////////////////////////////////////////////////////////
*/


/*[ PADDING ]
///////////////////////////////////////////////////////////
*/
.p-t-85 {padding-top: 85px;}
